
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.playcss{
  width:20vw;
}

.bgColor{
  background-color:rgb(170, 156, 231) !important;
  position: sticky !important;
  top: 0;
  z-index: 1000;
}

.nav-link:hover{
  background-color: aqua;
  color:rgb(191, 14, 170) !important; 
}

.containerMain{
  background-color: #081d46;
  width:100vw;
  margin:0;
  color:white;
}

.devHunt{
  width:20vw;
  border:none;
  background-color: #0a0a0a;
  border-radius: 10px;
  margin-left: 20px;
}

.devHunt > img{
   width:20vw;
}

@media (max-width: 500px) {
  .bgColor {
    background-color: #3167d4 !important;
  }

  .hamburger {
    display: flex !important;
    flex-direction: column !important;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }

  .hamburgerIcon {
    background-image: url('../public/assets/humburgerIcon.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    z-index: 10000 !important;
  }

  .hamburgerIcon:hover {
    background-color: #61dafb !important;
  }

  .navbar-nav{
    display: none !important; /* Hides the nav items by default on small screens */
  }

  .navbar-nav-active {
    display: flex !important; /* Shows nav items when the hamburger is clicked */
    flex-direction: column !important;
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: #3167d4;
  }
}





